---
title: Download a Webcast Q&A Report
excerpt: ''
deprecated: false
hidden: false
metadata:
  title: ''
  description: ''
  robots: index
next:
  description: ''
---
Once the Webcast has ended, you may download a **Questions and Answers** report if you used the Q\&A module during your event. The Q\&A report contains submissions and results that occurred during the event and includes the following columns in a csv file:

* Date and timestamp when the question was received
* Question body text
* Asked by: User submitting the question (Full name and user name - for example, Tammy Butcher - tbutcher). Or Anonymous if applicable.
* Status of the question (none, answered, follow-up, declined, replied)
* Moderator direct reply text (if applicable)
* Moderator that replied to the question (Full name). If multiple moderators responded, the last moderator is included in the output file.

To view a Q\&A report:

1. Navigate to the [Webcast Landing](doc:the-webcast-landing-page) page again once the event has concluded and click the **Reports** > **Download** button.
2. Click the **Questions and Answers** option.
3. The log is placed in your Downloads folder as **Questions.csv** (along with the name of your event).
